/* ESTILOS GENERALES */
html {
  font-family: "Montserrat", sans-serif;
} /*Esto se agrega para que absolutamente todos los hijos esten utilizando también esta fuente*/

body {
  margin: 0;
  background-color: #efefef;
}

/* NAVBAR */
.navbar-brand img { 
  height: 40px; 
  width: auto; 
} 

/* HEADER */
.site-header {
  background: linear-gradient(to bottom, #ffffff, #ff8c00);
  padding: 3rem 1rem;
  position: relative;
  color: white;
}

.site-header h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 3px black; /* mejora legibilidad */
  text-align: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 120px; /* ajusta al tamaño del logo */
  height: auto; /* mantiene proporciones */
}


/* SECCIONES */
section { 
  margin-bottom: 2rem; 
} 

/* SECCIÓN BENEFICIOS */
.benefits-products { 
  display: flex; /* Flexbox */ 
  gap: 2rem; 
  justify-content: space-between; 
  flex-wrap: wrap; 
} 

.benefits, .products { 
  flex: 1; 
  min-width: 280px; 
} 

/* CATÁLOGO */
.catalog {
  background-image: url("../img/banner.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño de pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  display: grid; /* Grid */
  grid-template-columns: 1fr;
  place-items: start;
  padding: 2rem;
}

/* CONTACTO */ 
.about-grid { 
 display: grid; 
 grid-template-columns: 1fr 1fr; 
 gap: 30px; 
 padding: 40px; 
} 

.form-flex { 
 display: flex; 
 flex-direction: column; 
 gap: 15px; 
} 

/* RESPONSIVE */ 
@media (max-width: 768px) { 
 .about-grid { 
   grid-template-columns: 1fr; 
 } 
} 


/* FOOTER */
.site-footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
}

footer p {
  margin: 0;
}

.site-footer a {
  /*transition: color 0.3s ease;*/
  color: #fff;
  text-decoration: none;
}

.site-footer a:hover {
  color: cornflowerblue;
}

.site-footer .container { 
 display: flex; 
 justify-content: space-between; 
 align-items: center; 
 flex-wrap: wrap; 
 gap: 1rem; 
} 