.site-header { 
 background: linear-gradient(to bottom, #ffffff, #ff8c00); 
 padding: 3rem 1rem; 
 position: relative; 
 color: white; 
 
 h1 { 
   font-size: 2.5rem; 
   text-align: center; 
   text-shadow: 1px 1px 3px black; 
 } 
 
 .logo { 
   position: absolute; 
   top: 10px; 
   left: 10px; 
   width: 120px; 
 } 
}